<div class="card">
	<article class="card-body">
		<h4 class="card-title text-center mb-4 mt-1">参加中のコミュニティー</h4>
		<hr>
		<div class="row">
			<% @user_communities.each do |user_community| %>
		  	<div class="col-sm-6 col-md-4 mb-4">
		  		<!-- コミュニティの切り替えを管理するため、#pudateへ飛ばしています -->
		  		<%= link_to user_community_path(user_community), :method => :patch, class: "card img-thumbnail card-body text-dark" do %>
		        <h5 class="card-title"><%= user_community.community_name %></h5>
		        <p class="card-text"><%= user_community.community_info %></p>
			    <% end %>
		  	</div>
		  <% end %>
		</div>
	</article>
</div>
