/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

html {
    height: 100%;
}

.navbar-brand {
    font-family: serif;
}

.log_in {
    padding-top: 100px;
}

.login_menu a {
  text-decoration: none;
}

.sidebar_fixed {
    position: sticky;
}

.post_form {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.sticky-top{
    padding-top: 70px;
    height: 100vh;
}

.attachment_image {
    width: 100%;
    height: 100%;
}

.table_comment {
  width: 200px;
}


@media screen and (max-width:425px) {

    .sticky-top {
        padding-top: 60px;
        height: 0;

    }

    .post_form {
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 2;
    }

    .login_menu {
        margin-top: 0px;
        position: relative;
        margin-bottom: 260px;
        width: 100%;
}

    .community_info {
        position: absolute;
        left: -400px;
        height: 100%;
        width: 100%;
    }

    .post_form {
        font-size: 10px;
    }

    .post_search {
        padding-top: 60px;
    }
}


















