<div class="sticky-top">
	<h4 class="text-lg-center"><strong><%= @community.community_name %></strong></h4>
	<p class="text-lg-center">[community key]</p>
	<p class="text-lg-center form-control placeholder"><%= @community.community_key %></p>
	<%= @community.community_key %>
	<%= @community.community_info %>
</div>