<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light border-bottom">
    <%= link_to "Work-branches", root_path, class: "navbar-brand col-lg-8 mr-0 text-center" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse col-lg-4 pl-0" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <span class="sr-only">(current)</span>
        </li>
        <li class="nav-item">
          <%= link_to "ログイン", new_user_session_path, class: "nav-link btn-light" %>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to "作る", new_community_path, class: "btn btn-outline-success mr-lg-2" %><span class="sr-only">(current)</span>
        </li>
         <li class="nav-item">
          <%= link_to "参加する", new_user_community_path, class: "btn btn-outline-success mr-lg-2" %><span class="sr-only">(current)</span>
        </li>
      </ul>
    </div>
  </nav>
</header><!-- /header -->
